body {

  justify-content: center;

}

div {
  
  border : 4px dashed red;
  display : grid;
  text-align: center;
  
}

button {
 
  background-color: white;
  justify-content: center;
  margin-left: 37%;
  margin-right: 37%;
  
}

